* {
    font-size: 20px;
    margin: 0;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.app {
    text-align: center;
    width: 50%;
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
    /* float: left; */
}

/* @media(max-width: 600px) {
  
} */

textarea {
    resize: vertical;
    width: 90%;
}

.backbtn {
    margin-left: auto;
    margin-right: auto;
}

#right {
    text-align: center;
    width: 50%;
    /* float: left; */
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
}

#right p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.print {
    width: 100%;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
}

.printhide {
    display: none;
}

.panel p {
    margin-left: auto;
    margin-right: auto;
}

#test {
    color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#info {
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;

}